<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <div class="title"><%= t('jaribio.actions.editing', :default => 'Editing') %> <%= t('jaribio.objects.suite', :default => 'Suite') %></div>
    <div class="inner">
      <%= render 'form' %>
    </div>
    <div class="title">Current Cases</div>
    <%= render :partial => "partials/search", :locals => { :action => 'edit' } %>
    <div class="inner">
      <%= render :partial => "test_cases/test_case_list", :locals => { :test_cases => @current_cases, :menu => 'suites/current_cases_item_menu' } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @current_cases %>
        </div>
      </div>
    </div>
  </div>
</div>
