<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <div class="title"><%= t('jaribio.actions.editing', :default => 'Editing') %> <%= t('jaribio.objects.suite', :default => 'Suite') %></div>
    <div class="inner">
      <%= render 'form' %>
    </div>
    <div class="title">Current Cases</div>
    <div class="inner">
      <%= render :partial => "test_cases/test_case_list", :locals => { :test_cases => @current_cases, :menu => 'suites/current_cases_item_menu' } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function() {
  $("table tbody#sortable").sortable({ 
    axis: 'y', 
    containment: 'parent', 
    distance: 10, 
    items: 'tr',
    update: function(){
      $("table tbody#sortable").sortable("option", "disabled", true);
      $.ajax({
        type: 'post',
        data: $('table tbody#sortable').sortable('serialize'),
        dataType: 'script',
        complete: function(request, status){
          $("table tbody#sortable").sortable("option", "disabled", false);
        },
        url: '<%= sort_suite_url(@suite) %>'
      })
    }
  });
  $("table tbody#sortable").disableSelection();
});
</script>
