<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <div class="title"><%= t('jaribio.actions.editing', :default => 'Editing') %> <%= t('jaribio.objects.suite', :default => 'Suite') %></div>
    <div class="inner">
      <%= render 'form' %>
    </div>
    <%= render 'current_cases' %>
    <%= render 'new_cases' %>
  </div>
</div>
