<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title"><%= t('jaribio.objects.suites', :default => 'Suites') %></div>
    <%= render :partial => "partials/search" %>
    <div class="inner">
      <%= render :partial => 'suites/suite_list', :locals => { :suites => @suites } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @suites %>
        </div>
      </div>
    </div>
  </div>
</div>
