<%= form_for(@pre_step, :html => {:class => 'form'}) do |f| %>
  <% if @pre_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_step.errors.count, "error") %> prohibited this pre_step from being saved:</h2>

      <ul>
      <% @pre_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <%= f.label :name, :class => "label" %>
    <%= f.text_field :name, :class => "text_field" %>
    <span class="description">Enter a name for the pre-steps."</span>
  </div>
  <div class="group">
    <%= f.label :list, :class => "label" %>
    <%= f.text_area :list, :class => "text_area"%>
  </div>
  <%= render :partial => "partials/form_buttons" %>
<% end %>
