<h1>Listing pre_steps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pre_steps.each do |pre_step| %>
  <tr>
    <td><%= pre_step.name %></td>
    <td><%= pre_step.list %></td>
    <td><%= link_to 'Show', pre_step %></td>
    <td><%= link_to 'Edit', edit_pre_step_path(pre_step) %></td>
    <td><%= link_to 'Destroy', pre_step, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pre step', new_pre_step_path %>
