<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pre_step.name %>
</p>

<p>
  <b>List:</b>
  <%= @pre_step.list %>
</p>


<%= link_to 'Edit', edit_pre_step_path(@pre_step) %> |
<%= link_to 'Back', pre_steps_path %>
