<td class="last">
  <% if (item.class == Plan) %>
  <%= link_to t('jaribio.actions.view', :default => 'View'), item  %>|
  <% else %>
  <%= link_to t('jaribio.actions.edit', :default => 'Edit'), url_for([:edit, item])  %>|
  <% end %>
  <% if (item.class == Suite) %>
    <%= link_to t('jaribio.actions.add_cases', :default => 'Add Cases'), url_for([:add_cases, item]) %>|
  <% elsif (item.class == Plan) %>
    <%= link_to t('jaribio.actions.add_suites', :default => 'Add Suites'), url_for([:add_suites, item]) %>|
  <% end %>
  <% if (item.class.to_s == 'TestCase') %>
    <%= link_to t('jaribio.action.history', :default => 'History'), url_for([:executions, item]) %>|
  <% end %>
  <%= button_to t('jaribio.actions.destroy', :default => 'Destroy'), item, :confirm => t('jaribio.actions.confirm', :default => 'Are you sure?'), :method => :delete %>
</td>
