<td class="last">
  <%= link_to t('jaribio.actions.view', :default => 'View'), item  %>|
  <!-- <%#= link_to t('jaribio.actions.edit', :default => 'Edit'), url_for([:edit, item])  %>| -->
  <% if (item.class == Suite) %>
    <%= link_to t('jaribio.actions.add_cases', :default => 'Add Cases'), url_for([:add_cases, item]) %>|
  <% elsif (item.class == Plan) %>
    <% if item.closed_at.nil? %>
      <%= link_to_if item.closed_at.nil?,  t('jaribio.actions.add_suites', :default => 'Add Suites'), url_for([:add_suites, item]) %>|
    <% else %>
      Add Suites|
    <% end %>
    <% if item.closed_at.nil? %>
      <%= button_to t('jaribio.actions.close', :default => 'Close'), url_for([:close, item]), :confirm => t('jaribio.actions.confirm', :default => 'Are you sure?'), :method => :post %>
    <% else %>
      <%= button_to t('jaribio.actions.open', :default => 'Open'), url_for([:open, item]), :confirm => t('jaribio.actions.confirm', :default => 'Are you sure?'), :method => :post %>
    <% end %>
  <% end %>
  <% if (item.class.to_s == 'TestCase') %>
    <%= link_to t('jaribio.action.history', :default => 'History'), url_for([:executions, item]) %>|
    <%= button_to t('jaribio.action.copy', :default => 'Copy'), [:copy, item], :method => :post %>
  <% end %>
  <%= button_to t('jaribio.actions.destroy', :default => 'Destroy'), item, :confirm => t('jaribio.actions.confirm', :default => 'Are you sure?'), :method => :delete %>
</td>
