<style>
	#suite_list .ui-selecting { background: #dadada; }
	#suite_list .ui-selected { background: #dadada; color: #212121; }
	#suite_list { list-style-type: none; }
</style>
<script>
	$(function() {
		$( "#suite_list" ).selectable();
	});
    
    function suite_list_helper()
    {
        var result = '';
        $( '.ui-selected', '#suite_list' ).each(
            function(index, element) {
                var suite_id = $(element).attr('value');
                if (suite_id != undefined)
                {
                    result += suite_id + ",";
                }
            }
        );
        $('#test_case_suites').attr('value', result);
    }
</script>

<%= form_for(@test_case, :html => { :class => 'form', :onSubmit => 'suite_list_helper()' }) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <input type="hidden" id="test_case_suites" name="test_case_suites">
    
  <div class="group">
    <%= f.label :name, :class => "label" %>
    <%= f.text_field :name, :class => "text_field" %>
    <span class="description">Enter descriptive test case name</span>
  </div>
  <div>
    <%= f.label 'Choose Suites', :class => "label" %>
    <div id="suite_list">
    <% suites_per_line = 8; suite_count = 0; %>
    <% @suites.sort {|a,b| a.name <=> b.name }.each do |suite| %>
        <% selected = (@test_case.suites.include?(suite)) ? 'ui-selected' : '' %>
        <span class="ui-widget-content <%= selected %>" value="<%= suite.id %>"><%= suite.name %></span>
        <% suite_count = suite_count + 1 %>
        <% if suite_count % suites_per_line == 0 %>
            <p></p>
        <% end %>
    <% end %>
    </div>
    <span class="description">Select the Suites this test case belongs to.</span>
  </div>
  <br>
  <div class="group">
    <%= f.label "Test Case Steps", :class => "label" %>
    <%= f.text_area :text, :cols => 80, :rows => 10, :class => "text_area" %>
    <span class="description"></span>
  </div>
  <div class="group">
    <%= f.label :expectation, :class => "label" %>
    <%= f.text_area :expectations, :cols => 80, :rows => 10, :class => "text_area" %>
    <span class="description"></span>
  </div>
  <%= render :partial => "partials/form_buttons" %>
<% end %>
