<%= form_for(@test_case, :html => { :class => 'form' }) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <p>
    </div>
  <% end %>
  
  <div class="group">
    <%= f.label :unique_key, :class => "label" %>
    <%= f.text_field :unique_key, :class => "text_field" %>
    <span class="description">Enter unique key or leave blank to auto-generate.</span>
  </div>
  <div class="group">
    <%= f.label :name, :class => "label" %>
    <%= f.text_field :name, :class => "text_field" %>
    <span class="description">Enter descriptive test case name</span>
  </div>
  <div class="group">
    <%= f.label :automated, :class => "label" %>
    <%= f.check_box :automated %>
    <span class="description">Has this test case been automated?</span>
  </div>
  <%= render :partial => "partials/form_buttons" %>
<% end %>
  <% unless @test_case.id.nil? %>
    <h1 class="title">Test Case Steps</h1>
    <div class="inner" id="step_list">
    <%= render :partial => "step_list" %>
    </div>
  <% end %>
