<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <div class="title"><%= t('jaribio.actions.editing', :default => 'Editing') %> <%= t('jaribio.objects.case', :default => 'Case') %></div>
    <div class="inner">
      <%= render :partial => 'form', :locals => { :disabled => false } %>
    </div>
  </div>
</div>
<script>
$(function() {
<%= render :partial => "sortable" %>
});
</script>
