<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title"><%= t('jaribio.objects.cases', :default => 'Cases') %></div>
    <%= render :partial => "partials/search" %>
    <div class="inner">
      <%= render :partial => 'test_case_list' %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @test_cases %>  
        </div>
      </div>
    </div>
  </div>
</div>
