<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title">
        <%= t('jaribio.objects.cases', :default => 'Cases') %>
        (
            <%= link_to 'All', :controller => 'test_cases', :action => 'index' %> |
            <%= link_to 'Automated', :controller => 'test_cases', :action => 'index', :q => 'automated:1' %> |
            <%= link_to 'Manual', :controller => 'test_cases', :action => 'index',  :q => 'automated:0' %>
        )
    </div>
    <%= render :partial => "partials/search" %>
    <div class="inner">
      <%= render :partial => 'test_case_list', :locals => { :test_cases => @test_cases } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @test_cases %>  
        </div>
      </div>
    </div>
  </div>
</div>
