<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div>
    <div class="title">Test Cases</div>
    <div class="search">
      <%= form_tag(test_cases_url, :method => 'get') do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
    <div class="inner">
      <table class="table">
        <tr>
          <th><%= t('jaribio.cases.name', :default => 'Name') %></th>
          <th><%= t('jaribio.cases.created_by', :default => 'Created By') %></th>
          <th class="last"></th>
        </tr>
        <% cnt = 0 %>
        <% @test_cases.each do |test_case| %>
          <% cnt += 1 %>
          <tr class="<%= (cnt % 2 == 0) ? "even" : "odd" %>">
            <td><%= test_case.name %></td>
            <td><%= test_case.user.email %></td>
            <%= render :partial => "partials/item_menu", :locals => { :item => test_case } %>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @test_cases %>  
        </div>
      </div>
    </div>
  </div>
</div>
