<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title"><%= t('jaribio.objects.cases', :default => 'Cases') %></div>
    <%= render :partial => "partials/search" %>
    <div class="inner">
      <table class="table">
        <tr>
          <th><%= t('jaribio.cases.name', :default => 'Name') %></th>
          <th><%= t('jaribio.cases.created_by', :default => 'Created By') %></th>
          <th class="last"></th>
        </tr>
        <%= render :partial => 'test_case', :collection => @test_cases %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @test_cases %>  
        </div>
      </div>
    </div>
  </div>
</div>
