<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @test_case.text %>
</p>

<p>
  <b>Expectations:</b>
  <%= @test_case.expectations %>
</p>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
