<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <h2 class="title"><%= @test_case.name %></h2>
    <div class="inner">
      <div class="grouping">
        <div class="label">Test Case Steps</div>
        <div class="text_area"><%= @test_case.text %></div>
      </div>
      <div class="grouping">
        <div class="label">Expectations</div>
        <div class="text_area"><%= @test_case.expectations %></div>
      </div>
      <div class="grouping">
        <div class="label">Suites</div>
        <% suites_per_line = 5; suite_count = 0; %>
        <% @test_case.suites.sort {|a,b| a.name <=> b.name }.each do |suite| %>
            <%= link_to suite.name, suite, {:class => 'ui-button'} %>
            <% suite_count = suite_count + 1;%>
            <% if suite_count % suites_per_line == 0%>
                <p></p>
            <% end %>
        <% end %>
      </div>
      <%= link_to 'Edit', edit_test_case_path(@test_case) %>
    </div>
  </div>
</div>
<script>
    $('.ui-button').button();
</script>