<p id="notice"><%= notice %></p>

<p>
  <b>Action:</b>
  <%= @step.action %>
</p>

<p>
  <b>Results:</b>
  <%= @step.results %>
</p>

<p>
  <b>Position:</b>
  <%= @step.position %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
