<%= form_for(@plan, :html => { :class => 'form' }) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grouping">
    <%= f.label :name, :class => "label" %>
    <%= f.text_field :name, :class => "text_field" %>
    <span class="description">Enter descriptive plan name</span>
  </div>
  <div class="grouping">
    <%= f.label :closed_date, :class => "label" %>
    <%= f.text_field :closed_at, :class=> "text_field", :disabled => true %>
    <span class="description">Date plan was closed</span>
  </div>
  <%= render :partial => "partials/form_buttons" %>
<% end %>
