<% selected = "selected" if suite.id == @suite.id %>
<% status = suite.status(@plan.id) %>
<div id="suite_<%= suite.id %>" class="tr <%= (suite_counter % 2 == 0) ? "even" : "odd" %> <%= selected %>">
  <div class="td">
    <%= link_to suite.name, plan_path(@plan, :suite_id => suite.id) %>
  </div>
  <div class="td <%= status_class_helper(status) %>">
    <%= status_text(suite.status) %>
  </div>
</div>
