<% status = test_case.status(@plan.id) %>
<% disabled = status_disabled_helper(status) %>
<%= form_for(@execution, :html => { :class => 'form' }) do |f| %>
  <tr class="<%= (test_case_counter % 2 == 0) ? "even" : "odd" %>">
    <td class="<%= status_class_helper(status) %>">
      <%= f.label test_case.name, :class => "label" %>
    </td>
    <td>
      <%= f.radio_button :status_code, Status::PASS, :disabled => disabled %>
      <%= f.label :status_code, "Pass", :value => Status::PASS %>
      <%= f.radio_button :status_code, Status::FAIL, :disabled => disabled %>
      <%= f.label :status_code, "Fail", :value => Status::FAIL %>
      <%= button_tag 'Re-Test', :type => 'button', :confirm => 'Are you sure you want to execute this test again?', :disabled => !disabled %>
    </td>
  </tr>
  <% if test_case.errors.any? %>
  <% end %>
<% end %>
