<% status = test_case.status(@plan.id) %>
<% disabled = status_disabled_helper(status) %>
<% last_execution = test_case.last_execution(@plan.id) || @execution %>
  <div id="case_<%= test_case.id %>" class="table <%= (test_case_counter % 2 == 0) ? "even" : "odd" %>">
  <%= form_for([@plan, test_case, @execution], :remote => true, :html => { :class => 'form' }) do |f| %>
  <%= hidden_field_tag 'test_case_counter', test_case_counter %>
  <%= hidden_field_tag 'suite_id', @suite.id %>
    <div class="tr">
      <div class="td case-label <%= status_class_helper(status) %>">
        <a href="#" onclick="toggle_case_details(<%= test_case.id %>);"><%= test_case.name %></a>
      </div>
      <div class="td">
        <%= f.radio_button :status_code, Status::PASS, :disabled => disabled, :checked => status_checked_helper(status, Status::PASS) %>
        <%= f.label :status_code, "Pass", :value => Status::PASS %>
        <%= f.radio_button :status_code, Status::FAIL, :disabled => disabled, :checked => status_checked_helper(status, Status::FAIL) %>
        <%= f.label :status_code, "Fail", :value => Status::FAIL %>
        <%= button_tag 'Re-Test', :type => 'button', :confirm => 'Are you sure you want to execute this test again?', :disabled => !disabled, :onclick => "enable_execution_for_case(#{test_case.id});" %>
      </div>
    </div>
    <div class="case-details">
      <div class="tr" style="display:block;">
          <% pre_list = test_case.pre_step.nil? ? '' : test_case.pre_step.list %>
          <table class="table">
            <thead>
            <tr>
              <th width="100%" class="last"><%= t('jaribio.objects.pre_steps') %></th>
            </tr>
            </thead>
            <tbody>
              <tr class="odd">
              <td> <pre><%= pre_list %></pre></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="tr" style="display: block;">
      <%= render :partial => 'test_cases/step_list', :locals => { :@test_case => test_case, :is_static => 1 } %>
      </div>
      <div class="tr">
        <div class="td">
          <%= f.label :results, :class => "label" %>
          <%= fields_for :execution, last_execution do |execution_fields| %>
            <%= execution_fields.text_area :results, :rows => 3, :cols => 40, :disabled => disabled %>
          <% end %>
        </div>
      </div>
      <div class="group navform wat-cf">
        <%= submit_tag "Save", :id => "submit_#{test_case.id}", :disabled => disabled %>
      </div>
      <% if test_case.errors.any? %>
      <% end %>
    </div>
  </div>
<% end %>
