<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => 'list' } %>
  <div class="content">
    <div class="title"><%= t('jaribio.objects.plans', :default => 'Plans') %></div>
    <%= render :partial => 'partials/search' %>
    <div class="inner">
      <%= render :partial => 'plans/plan_list', :locals => { :plans => @plans } %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <div class="pagination">
          <%= paginate @plans %>
        </div>
      </div>
    </div>
  </div>
</div>
