<div class="block">
  <%= render :partial => "partials/navigation", :locals => { :active => nil } %>
  <div class="content">
    <h2 class="title">Viewing Plan: <%= @plan.name %></h2>
    <div class="inner">
      <div class="columns wat-cf">
        <div class="column left status-list">
          <div class="table">
            <div class="tr">
              <div class="th"><%= t('jaribio.objects.suite', :default => 'Suite') %> <%= t('jaribio.misc.name', :default => 'Name') %></div>
              <div class="th"><%= t('jaribio.objects.suite', :default => 'Suite') %> <%= t('jaribio.misc.status', :default => 'Status') %></div>
            </div>
            <% if (@plan.suites.size > 0) %>
              <%= render :partial => 'plans/suite', :collection => @plan.suites %>
            <% end %>
          </div>
          <%= render :partial => 'plans/status' %>
        </div>
        <div class="column right status-list">
          <% if (@suite and @suite.test_cases.size > 0) %>
            <div class="table">
              <div class="tr">
                <div><h3><%= t('jaribio.objects.suite', :default => 'Suite') %>: <%= @suite.name %></h3></div>
              </div>
              <div class="tr">
                <div class="th"><%= t('jaribio.objects.case', :default => 'Case') %> <%= t('jaribio.misc.name', :default => 'Name') %></div>
                <div class="th"><%= t('jaribio.actions.actions', :default => 'Actions') %></div>
              </div>
            </div>
            <%= render :partial => 'plans/test_case', :collection => @test_cases %>
          <% end %>
        </div>
      </div>
      <%= link_to 'Edit', edit_plan_path(@plan) %>
    </div>
  </div>
</div>
